*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  align-items: center;
  background-color: #1f1f3d;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
}

h1 span {
  color: #ffc30c;
}

/* Global Styles */
.btn {
  background-color: #1f1f3d;
  border-color: #1f1f3d;
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
  padding: 10px 20px;
  text-align: center;
  width: 100%;
}

.btn:hover {
  cursor: pointer;
}

button:disabled {
  cursor: no-drop !important;
  opacity: .7;
}

.urgency-button.active {
  background-color: #ee4923;
}

input {
  font-size: 16px;
  padding: 0px 10px;
}

.search-box {
  position: relative;
}

.search-icon {
  background-color: #c8d3da;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  height: 36px;
  left: 2px;
  padding: 5px;
  position: absolute;
  top: 2px;
}

.search-input {
  background-color: #fff;
  border-radius: 4px;
  font-size: 18px;
  height: 40px;
  padding: 10px 20px 10px 50px;
}

/* Main Body Section */
main {
  display: flex;
  flex-flow: wrap;
  padding-top: 95px;
}

/* Column Styles */
.column {
  padding: 30px 20px;
}

.create-task-column {
  background-color: #587a8a;
  height: calc(100vh - 95px);
  position: fixed;
  top: 95px;
  width: 25%;
}

.task-list-column {
  column-count: 2;
  margin-left: 25%;
  width: 75%;
}

.no-task-lists {
  color: #93979a;
  display: none;
  font-size: 18px;
  font-weight: 500;
}

.no-task-lists.active {
  display: block;
}

.create-task-list {
  border-bottom: 2px solid #3d6577;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.create-task-list label {
  color: #bbcace;
  margin-bottom: 5px;
}

.create-task-list input {
  border: 2px solid #1f1f3d;
  border-radius: 4px;
  height: 40px;
  margin-bottom: 20px;
}

.tasks-to-add .task {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.tasks-to-add .task img {
  margin-right: 10px;
  width: 25px;
}

.button-wrap {
  position: relative;
}

/* Button styles */
.button-wrap input {
  padding-right: 60px;
  width: 100%;
}

.button-wrap .plus-icon {
  background-color: #1f1f3d;
  border: 2px solid #1f1f3d;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  height: 40px;
  padding: 5px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50px;
}

/* Task List styles */
.task-box {
  background-color: #f9fdff;
  border: 1px solid #c7d3d8;
  color: #1f1f3d;
  display: inline-block;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
}

.task-box h3 {
  border-bottom: 1px solid #c7d3d8;
  padding-bottom: 10px;
}

.task-box .task-list {
  margin: 20px 0px;
}

.task-box .task-list .task-list-item {
  align-items: center;
  display: flex;
  font-size: 18px;
  list-style-type: none;
  margin-bottom: 10px;
}

.task-box .task-list .task-list-item input {
  margin-right: -20px;
}

.task-box .task-list .task-list-item .task {
  padding-left: 30px;
}

.task-box .task-list .task-list-item.done {
  color: #3c6577;
  font-style: italic;
}

/* Task Box footer styles */
.task-box footer {
  border-top: 1px solid #c7d3d8;
  color: #3c6577;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.task-box footer .urgent-button,
.task-box footer .delete-card {
  align-items: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  text-align: center;
  width: 10%;
}

.task-box footer .urgent-button p,
.task-box footer .delete-card p {
  color: #3c6577;
  font-size: 16px;
  font-weight: 600;
}

.task-box footer .urgent-button > *,
.task-box footer .delete-card > * {
  pointer-events: none;
}

.task-box footer .urgent-button img,
.task-box footer .delete-card img {
  height: 40px;
  margin-bottom: 5px;
}

/* Urgent styling */
.task-box.js-urgent {
  background-color: #ffe89d;
  border-color: #ffc30c;
}

.task-box.js-urgent footer .urgent-button p {
  color: #b23a25;
  color: #ee4923;
}

.urgency-button.active {
  border-color: #782616;
  border-color: #b23a24;
}
